<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

	<link href="http://bootswatch.com/superhero/bootstrap.min.css" rel="stylesheet" />

	<meta charset="UTF-8" />
	<title>Index</title>
</head>
<body>

<div class="container">
	<div class="col-md-6" th:each="action : ${actions}">
		<div class="panel">
			<div class="panel-body">
				<div class="col-md-6">
					<a class="btn btn-primary col-md-12" th:href="@{/run/{action}(action=${action.name})}" th:text="${action.description}">
						run action
					</a>
				</div>
				<div class="col-md-6" th:if="${messageAction == action.name}">
					<p th:text="${message}">

					</p>
				</div>
			</div>
			<div class="panel-footer">
				<p th:text="${action.status}">
					status
				</p>
			</div>
		</div>
	</div>
</div>

</body>
</html>
